.petsitter-title{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.petsitter-picture{
    border-radius: 10px;
    width: 50vw;
    margin: 2em auto;
}

.header-zone{
    display: flex;
    flex-direction: column;
    margin : 2em auto;
    justify-content: space-evenly;
}

.search-zone button:hover{
    background-color: #8dc0df;
    color: white;
}

