.maincontent{
    text-align: center;
}

.register{
    display: inline-block;
    text-align: center;
    padding: 5%;
    margin-right: 10%;
}

.login{
   display: inline-block;
   text-align: center;
}


.form{
    text-align: center;
}

.button_form{
    margin-right: 10px;
    padding:1em;
    background-color: white;
    border: solid #8dc0df 2px;
    border-radius: 20px;
    min-width: 7vw;
    margin-bottom: 2em;
    font-size: large;
    text-align: center;
    transition: 0.3s;
}
